body {
  margin: 0;
  font-family:  'Roboto', 'Oxygen',
    
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header, .Footer {
  width: 100%;
  background-color: #367C2B;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
 
}
.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  background-color: #861D26;
  place-content: center;
  position: fixed;
  bottom:0
}
.hom {

  height: 100%;
  width: 50%;
  background-image: url("./img/farm.jpg")  ;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  


}
main {
  max-width: 700px;
  margin: auto;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 50px;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.5rem;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav ul {
  color: #fff;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: #dad2d2;
  color: #333;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}

.Home, .NewPost, .PostPage {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}
.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Home .post a {
  text-decoration: none;
}

.Home .post a, 
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.postBody {
  margin: 1rem 0;
}

.newPostForm {
  display: flex;
  flex-direction: column;
}


.contain {
  display: flex; 
  justify-content: center;
  /* width: 500px; */
  height: 400px;
  border: 1px solid black;
  box-shadow: 1cm;
background-color: gainsboro;
}
.App {
  height: 500px;

}

.forms {
margin-bottom: 12px;
font-weight: bold;

}
.position {

  align-items: center;
  height: 100%;
}
.label {
  color:black;
  width:5em;
}
input {
  text-align:left;
  font: inherit;
  margin-bottom: 1em;
  max-width: 3em; 
}
.dark {
  color:rgb(9, 9, 16);
  text-align:center;
  background-color:yellow;
}

textarea {
  height: 180px;
  width: 200px;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a, 
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover, 
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  font-style: italic;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: #000;
  font-size: 1rem;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}

.yieldbutton {
  margin-top:"3em";
  display: flex;
  justify-content: center;
}


