.display {
    display: grid;
    gap: 2px;
    margin: 10px;


}
.weatherbox {
    display: inline-block;
    margin-left: 0px;
    padding:0;
    border: 2px solid black;
    width: 50vw;
    height: 2vw;
    color: white
     
  }
  .weather-item {
    width: 100px;
    padding: 0;
    text-align: left;
  }

  .weather-item1 {
    width: 150px;
    padding: 0;
    margin-left: 5px;
    text-align: left;
  }

  .weather-item2 {
    width: 225px;
    padding: 0;
    text-align: left;
  }
  .weather-item3 {
    width: 275px;
    padding: 0;
    text-align: left;
  }